# Description
CONFIG_DESCRIPTION="[MK] Deathmatch server"
#
# Enabled workers
#
WORKER_DEMO=yes
WORKER_LOGS=yes
#
# Shared vars
#
WORKER_RESULT=""
#
# Telegram bot settings
#
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHATID=
TELEGRAM_USERID=
TELEGRAM_USERNAME=
#
# Local machine
#
GAME_DIR="/server_dir/hl2mp"

DEMOS_DIR="$GAME_DIR/demos"
DEMOS_ZIP_DIR="$GAME_DIR/packed/demos"
DEMOS_KEEP_COUNT=3

LOGS_DIR="$GAME_DIR/logs"
LOGS_ZIP_DIR="$GAME_DIR/packed/logs"
LOGS_KEEP_COUNT=3

CONSOLE_LOG_FILE="$GAME_DIR/console.log"
CONSOLE_LOG_ZIP_DIR="$GAME_DIR/packed/console-logs"
CONSOLE_LOG_LINES=65535	# if less than 1 - delete all lines