# Description
CONFIG_DESCRIPTION="[HL2DM] Deathmatch server"
CONFIG_ID="ID1"		# Unique ID of the config. Spaces are not allowed.
CONFIG_ENABLED=yes	# 'yes' to enable, any different value to disable (run.sh will ignore disabled config)
#
# Enabled workers
#
WORKER_DEMO=yes		# 'yes' to enable, any different value to disable
WORKER_LOGS=yes		# 'yes' to enable, any different value to disable
WORKER_LOGS_SM=yes	# 'yes' to enable, any different value to disable
WORKER_DISK=yes		# 'yes' to enable, any different value to disable
#
# Shared vars
#
WORKER_RESULT=""		# For internal use. Stores an intermediate result.
ZIP_COMPRESSION_RATE=-9	# Compression rate. It can be only -0 (store) -1 (fast) -6 (normal) or -9 (max)
ZIP_USE_NICE=true		# True to save CPU time while zipping
ZIP_NICE_VALUE=19		# 'nice' priority value in the range of -20..19. 19 is the lowest priority value.
#
# Telegram bot settings
#
TELEGRAM_BOT_TOKEN=			# Your Tg bot token
TELEGRAM_CHATID=			# Chat ID (to send notifications to)
TELEGRAM_USERID=			# User ID (to mention a user in a muted group)
TELEGRAM_USERNAME=			# A username to mention. Any one you like.
#
# Local machine settings
#
GAME_DIR=					# Path to game dir - 'hl2mp', 'cstrike' etc. (for example /home/user/servers/hl2dm/hl2mp)

DEMOS_DIR="$GAME_DIR/demos"				# Recorded demos path
DEMOS_ZIP_DIR="$GAME_DIR/packed/demos"	# Path to zipped files
DEMOS_KEEP_COUNT=65535					# How many demos should be kept

LOGS_DIR="$GAME_DIR/logs"				# Game logs path
LOGS_ZIP_DIR="$GAME_DIR/packed/logs"	# Path to zipped logs
LOGS_KEEP_COUNT=65535					# How many lines should be kept

LOGS_SM_DIR="$GAME_DIR/addons/sourcemod/logs"		# Sourcemod logs path
LOGS_SM_ZIP_DIR="$GAME_DIR/packed/sourcemod-logs"	# Path to zipped logs
LOGS_SM_KEEP_COUNT=65535							# How many lines should be kept

CONSOLE_LOG_FILE="$GAME_DIR/console.log"					# Path to console.log
CONSOLE_LOG_ZIP_DIR="$GAME_DIR/packed/console-logs"			# Path to zipped console.log
CONSOLE_LOG_LINES=65535	# if less than 1 - delete all lines	# How many lines of the log should be kept

DISK_CHECKLIST=()	# Array of disks to check for free space. Format: '/dev/vda2:10G' (last symbol should be B, K, M or G)